@import '/node_modules/bootstrap/scss/bootstrap.scss';

.card {
    width: 70%;
    max-width: 200px;
    margin: auto;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.2rem;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  