{# Added bootstrap templates for the header and footer #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/src/_data/assets/style.css"/>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Narmeen Khalid</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/about/" class="nav-link">About Me</a></li>
            <li class="nav-item"><a href="/projects/" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="/bookstore/" class="nav-link">BookStore</a></li>
            <li class="nav-item"><a href="/contact/" class="nav-link">Contact Me</a></li>
          </ul>
        </header>
      </div>
      <main>
        {{ content | safe }}
    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Narmeen Khalid</span>
          </div>
        </footer>
    </div>
</body>
</html>