---
layout: layouts/base.njk
title: About 
permalink: /about/
---

<h1>About Me!</h1>
<p>I am a passionate web developer and I like to create responsive and accessible websites.
    My favourite languages are JavaScript, C#, and Python.  
</p>